.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

h1 {
  color: white;
  font-size: 28px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #2d324e;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;

  & button {
    border-radius: 30px;
    background-color: #8a9ae1;
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
  }

  & button:hover {
    opacity: 0.8;
  }

  & input {
    border: 1px solid #45516c;
    border-radius: 30px;
    height: 40px;
    background-color: #363c53;
    color: white;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: #2d334e;
  margin: 10px;
  padding: 10px;
  width: 400px;
  border-radius: 10px;

  & span {
    font-weight: normal;
  }

  & button {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  & button:hover {
    opacity: 0.8;
  }
}

.error__sidebar {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  margin: 15px;
  padding: 10px;
  background-color: #fce8db;
  width: auto;
  height: 50px;
  box-shadow: 0px 0px 5px -3px #111;
  border-radius: 8px;
}

.error__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  & button {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;

    & img {
      width: 30px;
      height: 30px;
    }
  }

  & button:hover {
    opacity: 0.5;
  }

  & img {
    width: 20px;
    height: 20px;
  }

  & p {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #71192f;
  }
}
